.Nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background: black;
  color: rgb(228, 32, 32);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

button[data-active] {
  background-color: crimson;
}
